@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ReclameSaude Application</h1>
    <h1 class="display-4">Bem Vindo à minha  Aplicação ReclameSaude </h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <p> Se você ainda não é cadsatrado! Cadastre-se para pode usar a plataforma!</p>
    <p> Se já possui cadastro! Fique a vontade pra desabafar conosco e dar sua opinião sobre o Sistema de Saúde da sua cidade! </p>

</div>
