@model br.com.devset.ReclameSaude.Models.HospitalModel

<h2>Editar Hospital</h2>


<form asp-controller="Hospital" asp-action="Edit" asp-route-id="@Model.HospitalId" method="post">

    <div class="form-group">
        <label asp-for="Nome" >Nome:</label>
        <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" required />
    </div>
    <div class="form-group">
        <label asp-for="Endereco">Endereço:</label>
        <input type="text" class="form-control" id="Endereco" name="Endereco" value="@Model.Endereco" required />
    </div>
    

    <button type="submit" class="btn btn-primary">Salvar alterações</button>
</form>

